#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1

export PYBUILD_NAME=itsdangerous

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -Rf .pybuild
	git checkout -- src/itsdangerous.egg-info/SOURCES.txt || echo -n